// app global css
@import '~variables'

body
  font-family 'Avenir', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

@media (max-width: 775px)
  h3
    font-size: 7vw

blockquote
  border-left-color #575656
a
  color: #575656
a.q-tab
  color: #575656
  letter-spacing: 0.4em
  padding-right: 0px
  padding-left : 0px
  margin-left : 10px
  margin-right : 10px
a.q-item
  letter-spacing: 0.4em
h5
  margin-top 1.5em
  margin-bottom 0.5em
.text-ajda1 {
  color: $dark;
}
.bg-ajda1 {
  background: #E6E7E8;
}
.q-tabs-bar
  color #EE2A7B
